.home-container {
  background: #030306;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
}

.hero .right-content {
  border-radius: 10px;
  margin-top: -50px;
}

.right-content img {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  gap: 20px;
}

.left-content button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: #7a57cb7e;
  color: #ffffffd8;
  font-weight: 600;
  cursor: pointer;
  width: 130px;
}

.left-content .button-get {
  margin-top: 50px;
  background: rgb(255, 255, 255);
  color: #030306;
  width: 200px;
}

.left-content {
  h2 {
    font-size: 50px;
    width: 80%;
    font-weight: bold;
    color: #af8df3;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fff;
  }

  p {
    font-size: 18px;
    font-weight: 600;
    color: #815ad0;
    padding-bottom: 50px;
  }
}

@media (max-width: 1121px) {
  .left-content {
    h2 {
      font-size: 30px;
      width: 100%;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 1728px) {
  .left-content {
    h2 {
      font-size: 30px;
      width: 100%;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 1024px) {
  .left-content {
    h2 {
      font-size: 20px;
      width: 100%;
    }

    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  .left-content {
    h2 {
      font-size: 15px;
      width: 100%;
    }

    p {
      font-size: 13px;
    }
  }
}

@media (max-width: 540px) {
  .right-content img {
    display: none;
  }
}

@media (max-width:540px) {
    .hero {
        padding: 20px 20px;
    }
}


/* animation use */ 
.ripple { position: relative; width: 40px; height: 40px; margin: 20px auto; }
  .ripple span {
    position: absolute; border: 4px solid #60a5fa;
    border-radius: 50%; animation: ripple 1.2s infinite;
    inset: 0;
  }
  .ripple span:nth-child(2) { animation-delay: -0.6s; }
  @keyframes ripple {
    0% { transform: scale(0); opacity: 1; }
    100% { transform: scale(1.5); opacity: 0; }
  }

  .animation {
    position: absolute;
    right: 30%;
    top: 20%;
  }

  
.rocket {
  width: 20px; height: 40px;
  background: #facc15;
  margin: 20px auto;
  border-radius: 10px 10px 0 0;
  position: relative;
  animation: fly 1.5s infinite ease-in-out;
}
.flame {
  width: 10px; height: 10px;
  background: #f87171;
  border-radius: 50%;
  position: absolute;
  left: 5px; bottom: -10px;
  animation: flame 0.5s infinite alternate;
}
@keyframes fly {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
@keyframes flame {
  0% { transform: scaleY(1); opacity: 1; }
  100% { transform: scaleY(1.5); opacity: 0.6; }
}
      
.animation2 {
  position: absolute;
  right: 15%;
  top: 50%;
}